<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- Stop output INFO at start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>


    <appender name="APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
        <File>logs/Graph.log</File>
        <encoder>
            <pattern>%5p %d %18c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>logs/Graph.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1000KB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%5p %d %18c - %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="APPENDER"/>
        <appender-ref ref="CONSOLE"/>
    </root>


    <logger name="de.siegmar.logbackgelf" level="TRACE" additivity="false"/>

</configuration>
